/* Default header and image styles */
.header {
  font-size: calc(1em + 2vw);
  color: #4a442e;
}

.subheader {
  font-size: calc(0.30em + 1.5vw);
  color: #4a442e;
}

/* Image styling for larger screens */
.image-col img {
  max-width: 100%;
  height: auto;
  max-height: 12rem;
  padding-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.cj-image,
.flick-image {
  max-width: 100%;
  height: auto;
  max-height: calc(13em + 2vw) !important;
  padding-bottom: 20px;
}

/* Mobile-specific layout for iPhone-sized screens */
@media (max-width: 768px) {
  .header-row {
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    font-size: calc(1.7em + 2vw); 
  }

  .subheader {
    font-size: calc(0.7em + 1vw);
  }
  
  .cj-image,
  .flick-image {
    max-height: calc(8em + 1vw) !important;
    margin: 0; 
  }
}

